<!DOCTYPE html>
<html lang="en" ng-app="gtec">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

<style>

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

</style>
</head>
<body ng-cloak> 

    <div ng-controller="gCtrl as vm1"  >
        <h2>{{vm1.name}}</h2><br>
        <h2> ${{vm1.price}}<h2>
        <input ng-model="vm1.name"><br>

        {{vm1.list}}
            <ul>
                <li ng-repeat="l in vm1.list | orderBy:'name' | filter:vm1.name">
                 {{l.name}}
                </li>
            </ul>
     

    <div ng-controller="g1Ctrl as vm2">  
        <h2>{{vm2.name}}</h2> <h2>{{vm1.name}}</h2><br>
        <h2> ${{vm2.price}}<h2>
        <input ng-model="name">
    </div> 

    <input ng-model="name">

    </div> 

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
 <script src="app/app.js"></script>
</body>
</html>